repos:
  - repo: local
    hooks:
      - id: yarn-bundle-setup-action
        name: Run yarn bundle in gh/setup-action
        entry: bash -c 'cd gh/setup-action && mise exec -- yarn run bundle'
        language: system
        files: ^gh/setup-action(/src)?/

      - id: yarn-bundle-cache-action
        name: Run yarn bundle in gh/cache-action
        entry: bash -c 'cd gh/cache-action && mise exec -- yarn run bundle'
        language: system
        files: ^gh/cache-action(/src)?/

      - id: yarn-build-almost-original-build-push-action
        name: Run yarn build in gh/.almost-original-build-push-action
        entry: bash -c 'cd gh/.almost-original-build-push-action && mise exec -- yarn run build'
        language: system
        files: ^gh/.almost-original-build-push-action(/src)?/

      - id: sync-example-confirmer
        name: Sync the real confirmer to the example
        entry: mise exec -- node scripts/sync-example-confirmer-to-real-example/index.js
        language: system
        files: ^\.github/workflows/example-confirmer\.yml$

      - id: go-fmt
        name: Go fmt
        entry: mise exec -- go fmt ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-vet
        name: Go vet
        entry: mise exec -- go vet ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-lint
        name: Go lint
        entry: mise exec -- golangci-lint run --fix
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-test
        name: Go test
        entry: mise run tests:unit
        language: system
        pass_filenames: false
        files: \.go$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
    - id: shellcheck